@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<!-- home
================================================== -->
<section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="@Url.Content("~/images/hero-bg.jpg")" data-natural-width=3000 data-natural-height=2000 data-position-y=top>

    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">
            <h1>
                Hello folks, we are <br>
                Transcend Studio.
            </h1>

            <p>
                We create stunning digital experiences <br>
                that will help your business stand out.
            </p>
        </div> <!-- end home-content__main -->

    </div> <!-- end home-content -->

    <ul class="home-sidelinks">
        <li><a asp-controller="Home" asp-action="About">About<span>who we are</span></a></li>
        <li><a asp-controller="Home" asp-action="Services">Services<span>what we do</span></a></li>
        <li><a asp-controller="Home" asp-action="Contact">Contact<span>get in touch</span></a></li>
    </ul> <!-- end home-sidelinks -->

    @*<ul class="home-social">
        <li class="home-social-title">Follow Us</li>
        <li>
            <a href="#0">
                <i class="fab fa-facebook"></i>
                <span class="home-social-text">Facebook</span>
            </a>
        </li>
        <li>
            <a href="#0">
                <i class="fab fa-twitter"></i>
                <span class="home-social-text">Twitter</span>
            </a>
        </li>
        <li>
            <a href="#0">
                <i class="fab fa-linkedin"></i>
                <span class="home-social-text">LinkedIn</span>
            </a>
        </li>
    </ul>*@ <!-- end home-social -->

    <a href="@Url.ActionLink("Privacy","Home")" class="home-scroll">
        <span class="home-scroll__text">Scroll Down</span>
        <span class="home-scroll__icon"></span>
    </a> <!-- end home-scroll -->

</section> <!-- end s-home -->
